<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% foodlist.forEach(function(food) { %>

      <a href="/review/<%= food %>" ><%= food%></a>
<%    }) %>



  </body>
</html>
